.image {
  position: relative;
  box-shadow: 5px 5px 20px #4c5265;
  border-radius: 30px 70px 30px 70px;
  width: 100%;
  cursor: pointer;
  height: 250px;
}

.image__img {
  display: block;
  border-radius: 30px 70px 30px 70px;
  width: 100%;
  height: 250px;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 30px;
  opacity: 0;
  transition: opacity 0.5s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background-color: #323949da;
  border-radius: 30px 70px 30px 70px;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.5s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}
.myMenu3 {
  color: #f4f6ff !important;
  font-size: 18px;
  font-weight: 700;
  background-color: #219f94;
  border-radius: 30px 70px 30px 70px;
  padding: 3px 30px !important;
  transition: all 0.4s ease-out;
  width: 50%;
}
.myMenu3:hover {
  box-shadow: 0 0 10px #f4f6ff inset;
}
