@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Ubuntu:wght@400;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
}
body {
  background-color: #323949;
}

.hero-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-margin {
  margin-top: 100px;
  margin-bottom: 100px;
}
.my-img {
  height: 300px;
  width: 300px;
  border-radius: 30px 70px 30px 70px;
  border: 10px solid #219f94;
}
.myNav {
  background: rgb(76, 82, 101);
  background: radial-gradient(
    circle,
    rgba(76, 82, 101, 1) 0%,
    rgba(61, 62, 80, 1) 100%
  );
  /* margin-top: 10px; */
  border-radius: 0 0 30px 30px;
  box-shadow: 0 0 10px #219f94;
}
.myMenu {
  color: #f4f6ff !important;
  font-size: 18px;
  font-weight: 700;
  background-color: #219f94;
  margin-left: 20px;
  border-radius: 30px 70px 30px 70px;
  padding: 3px 20px !important;
  transition: all 0.4s ease-out;
}
.myMenu:hover {
  box-shadow: 0 0 10px #f4f6ff inset;
}
.myMenu2 {
  color: #f4f6ff !important;
  font-size: 18px;
  font-weight: 700;
  background-color: #219f94;
  border-radius: 30px 70px 30px 70px;
  padding: 3px 30px !important;
  transition: all 0.4s ease-out;
}
.myMenu2:hover {
  box-shadow: 0 0 10px #f4f6ff inset;
}
.title-color {
  color: #219f94;
}
.subTitle-color {
  color: #92a9bd;
}
.title-shadow {
  /* text-shadow: 0 0 10px #f4f6ff; */
  color: #bebebe;
}
.shape1 {
  position: absolute;
  height: auto;
  width: 300px;
  opacity: 0.3;
  left: 0;
  top: 0;
  z-index: -1;
}
.shape2 {
  position: absolute;
  height: auto;
  width: 300px;
  opacity: 0.3;
  top: 30%;
  left: 20%;
  z-index: -2;
}
.shape3 {
  position: absolute;
  mix-blend-mode: multiply;
  height: auto;
  width: 30%;
  opacity: 0.3;
  top: 0%;
  right: 0%;
  z-index: -2;
}
.shape4 {
  position: absolute;
  mix-blend-mode: multiply;
  height: auto;
  width: 30%;
  opacity: 0.3;
  top: 150%;
  left: 0%;
  transform: rotate(180deg);
  z-index: -2;
}
.shape5 {
  position: absolute;
  mix-blend-mode: multiply;
  height: auto;
  width: 30%;
  opacity: 0.3;
  top: 200%;
  right: 0%;
  z-index: -2;
}
hr {
  height: 5px !important;
  background-color: #219f94;
  width: 100px;
}
.width-custom {
  width: 60%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #219f94;
  border-radius: 10px;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .hero-section {
    margin-top: 70px;
  }
  .myMenu {
    margin-bottom: 20px;
  }
  .mobileNav {
    text-align: center;
    width: 50%;
  }
  .myMenu2 {
    font-size: 16px;
    padding: 3px 15px !important;
  }
  .shape3 {
    width: 50%;
    top: 80%;
  }
  .shape4 {
    display: none;
  }
  .shape5 {
    display: none;
  }
  .width-custom {
    width: auto;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .hero-section {
    margin-top: 70px;
  }
  .width-custom {
    width: auto;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero-section {
    margin-top: 70px;
  }
  .width-custom {
    width: 80%;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/*Extra extra large devices (Extra large desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
