.screenshot {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0px;
  border-radius: 10px;
  transition: background-position 7s ease-in-out;
}
.screenshot:hover {
  background-position: 50% 100%;
}
.mbl-img {
  display: none;
}
@media (max-width: 575.98px) {
  .mbl-img-div {
    height: 300px;
    overflow-y: scroll;
    border-radius: 10px;
  }
  .mbl-img {
    display: block;
  }
  .screenshot {
    display: none;
  }
}
